

header{
    border-right: solid 1px  var(--icons);
    animation: none;
}
.menu i:nth-child(2){
    font-size: 45px;
    color: var(--azul);
    filter: drop-shadow(0px 0px 13px var(--azul));
    cursor: pointer;
}

.supertasktitulo{
    font-size: 0;
    display: none
}

section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    
    animation: headeranimation 1.2s cubic-bezier(0.19, 1, 0.22, 1) 1;
    margin-left: 150px;
    width: 500px;
    min-height: 100vh;
    max-height: 100%;
    background-color: var(--backgroundHeader);
    z-index: 2;
}

.wContainer{
    width: 90%;
    height: 75%;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.workspace-active{
    width: 90%;
    height: 60px;
    border: solid 2px var(--azul);
    border-radius: 25px;
    box-shadow: 0px 0px 13px var(--azul);
    background-color: #272727;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    margin: 30px 0;
    white-space: nowrap;
    cursor: pointer;
}

.blur1, .blur2{
    display: flex;
    animation: bluranimation 2s cubic-bezier(0.19, 1, 0.22, 1) .5s both;
}


main{
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    animation: transicaomain 2s;
}

.paginatitulo{
    display: flex;
}




.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: start;
    width: 90%;
    min-width: 300px;
    min-height: 80vh;
    height: min-content;
    background-color: var(--backgroundSecundario);
    border-radius: 50px;
    margin: 0px 30px;
    box-shadow: 0px 0px 100px #202020;
}

.addprojeto{
    background-color: transparent;
    border: dashed 2px var(--azul);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: .15;
    border-radius: 30px;
    width: 40%;
    height: 260px;
    margin: 20px;
    cursor: pointer;
    transition: all 0.2s;
}
.addprojeto:hover{
    background-color: rgba(255, 255, 255, 0.05);
}

.addprojeto > i{
    color: var(--azul);
    font-size: 40px;
}


.projeto{
    background-color: var(--background);
    border-radius: 30px;
    width: 40%;
    min-width: 300px;
    height: 200px;
    margin: 20px;
    padding: 30px;
}
.projeto > h1{
    font-weight: 400;
    letter-spacing: 1px;
    font-size: 1.7vw;
    margin-bottom: .5vw;
}
.projeto > p{
    font-weight: 300;
    height: 2.5vw;
    color: var(--txtdesc);
    font-size: 1vw;
    margin-bottom: .3vw;
}
.projeto > .porcentagem{
    width: 100%;
    height: 2vw;
    background-color: transparent;
    margin-bottom: .7vw;
}
.projeto > .botoes{
    width: 100%;
    height: 3vw;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.botoes > button{
    height: 100%;
    width: 48%;
    border-radius: 20px;
    background-color: var(--backgroundSecundario);
    border: none;
    font-size: 1vw;
    font-weight: 200;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 0.3s;
}
.botoes > button:hover{
    background-color: rgb(39, 39, 39);
}
.botoes > button:active{
    transform: scale(95%);
    background-color: var(--backgroundHeader);
}


#criarProjeto{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99999;
    width: 100vw;
    height: 100vh;
    background: rgba(140, 210, 230, 0.05);
    backdrop-filter: blur(20px);
    animation: bluranimation 1s cubic-bezier(0.19, 1, 0.22, 1) .1s both;
    justify-content: center;
    align-items: center;
}
#projetoContainer{
    width: 550px;
    height: 90%;
    background-color: var(--background);
    border: solid 1px var(--azul);
    border-radius: 40px;
    box-shadow: 0px 4px 250px 0px rgba(140, 210, 230, 0.10);
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    
}
#projetoContainer > h1{
    font-weight: 200;
    margin-top: 30px;
    font-size: 30px;
}

.divnome, .divdesc{
    width: 100%;
    height: 60px;
    margin-top: 50px;
    display: grid;
    grid-template-columns: 35% 50% 5%;
    flex-direction: row;
    justify-content: center;
    align-items: start;
}

.divdesc{
    margin: 0;
    height: 150px;
    margin-top: 40px;
}

.divnome h2, .divdesc h2{
    font-weight: 200;
}

.divnome input, .divdesc input{
    color: white;
    width: 100%;
    height: 80%;
    background-color: var(--backgroundSecundario);
    border: none;
    border-radius: 20px;
    outline: 0;
    padding: 10px 20px;
    font-size: 22px;
}
.divprazo{
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.divprazo h2{
    width: 100%;
    font-weight: 200;
    text-align: center;
    margin-bottom: -10px;
}
.divprazo2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
    width: 100%;
    margin-top: 20px;
}
.divprazo2 i{
    font-size: 60px;
    color: var(--icons);
}
.projectdate{
    color: white;
    width: 50%;
    height: 30px;
    background-color: var(--backgroundSecundario);
    border: none;
    border-radius: 20px;
    outline: 0;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: center;
    padding: 10px 20px;
    font-size: 26px;
    cursor: pointer;
}

.divporcentagem{
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
}
.divporcentagem h2{
    max-width: 60%;
    text-align: center;
    font-weight: 200;
    font-size: 20px;
}
.divporcentagem2{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    margin-top: 20px;
}
.inputsim, .inputnao{
    display: flex;
    flex-direction: row;
    width: 20%;
    height: 40px;
    justify-content: space-evenly;
    align-items: center;
}
.inputsim p, .inputnao p{
    font-size: 24px;
    color: darkgray;
}
#sim, #nao{
    width: 20px;
    height: 20px;
    border-radius: 10px;
    
}





#projetoContainer button{
    width: 300px;
    height: 50px;
    border-radius: 27px;
    border: 1px solid #8CD2E6;
    background: #1E1E1E;
    box-shadow: 0px 0px 40px -16px #8CD2E6;
    margin-top: 50px;
    color: #FFF;
    text-align: center;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 0.24px;
    transition: all .6s cubic-bezier(0.19, 1, 0.22, 1);
    cursor: pointer;
    }
#projetoContainer button:hover{
    background-color: var(--azul);
    text-shadow: 0px 0px 10px black;
    box-shadow: 0px 0px 40px -6px #8CD2E6;
}



#vermaisContainer{
    background-color: var(--background);
    border: solid 1px var(--azul);
    border-radius: 40px;
    box-shadow: 0px 4px 250px 0px rgba(140, 210, 230, 0.10);
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 700px;
    height: 90%;
}
.headervermais{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.headervermais h1{
    font-weight: 200;
}
.infoproj{
    width: 100%;
    height: 200px;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.infoproj h1{
    margin-bottom: 20px;
    font-weight: 400;
    letter-spacing: 1px;
    font-size: 50px;
}
.infoproj p{
    color: darkgray;
    font-size: 22px;
    font-weight: 300;
    max-width: 75%;
    text-align: center;
}



@keyframes bluranimation{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@keyframes transicaomain {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

